body {
  background-color: #ffffff;
  margin: 0;
  height: 100%;
  width: 100%;
}

::placeholder {
  color: rgb(107, 107, 107);

  font-size: 12px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#footer {
  background-color: #ffffff;
  color: rgb(94, 94, 94);
  font-size: 1.56vh;

  letter-spacing: 1px;
  padding: 2.91vh;
  text-align: center;
  text-transform: uppercase;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  background-color: whitesmoke;
  min-height: 78vh;
  margin: 0;
  text-align: center;
}

/* This removes the counter buttons on the input field */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Cmtoinches,
.Inchtocm {
  box-shadow: 2px 2px 12px black;
  border-radius: 15px;
  box-shadow: -15px -15px 15px rgb(255 255 255), 15px 15px 15px rgb(0 0 0 / 17%);
  width: 280px;
  height: 45px;
  padding-left: 15px;
  border: none;
  /* border: 1px solid rgb(212, 212, 212); */
  /* border-radius: 20px; */
  margin-top: 15px;
  background: rgb(242, 242, 242);
}

.Cmtoinches:hover {
  background-color: rgb(196, 196, 196);
  cursor: pointer;
}
.Inchtocm:hover {
  background-color: rgb(196, 196, 196);
  cursor: pointer;
}

input {
  color: black;
  font-size: 18px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.text {
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 64px;
  color: #000000;
  text-decoration: none;
  border-bottom: solid 3px rgb(89, 43, 144);
  font-size: 25px;
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.result {
  display: inline-block;
  margin-top: 13px;
  color: rgb(89, 43, 144);
  text-decoration: none;
  font-size: 19px;
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.conversion-table {
  /* display: flex;
  flex-wrap: wrap;
  font-size: 10px;
} */
  display: flex;
  /* padding-right: 35rem;
  padding-left: 35rem;
  padding-top: -15rem; */
  flex-wrap: nowrap;
  font-size: 10px;
  flex-direction: row;
  margin-top: -9rem;
  margin-bottom: -7rem;
}

.conversion-table table {
  border-collapse: collapse;
  margin: 10rem auto;
  justify-content: space-around;
}
.conversion-table tr:nth-child(even) {
  background-color: #f4f4f4;
}
.conversion-table td,
.conversion-table th {
  padding: 0.2rem 0.4rem;
  text-align: right;
}
.conversion-table th {
  border-bottom: 1px solid silver;
  text-align: center;
}
.conversion-table abbr {
  color: silver;
}

.link-secondary {
  width: 50px;
  height: 50px;
  position: relative;
  top: 2rem;
  left: 5rem;
  margin-top: 0px;
}
/* 
@media screen and (min-width: 367px) and (max-width: 500px) {
  .conversion-table {
    display: flex;
    padding-right: 35rem;
    padding-left: 35rem;
    padding-top: -15rem;
    flex-wrap: nowrap;
    font-size: 10px;
    flex-direction: row;
    margin-top: -7rem;
  }
} */

.about h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 300;
}
.about h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.about p {
  font-weight: 300;
  font-size: 18px;
  font-family: sans-serif;
}
